.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:50%;
    margin: 0px auto;
    border: 1px solid black;
}

form{
    padding: 0px 0px 25px;
}

form input {
    display: block;
}